[Unit]
Description=Nameserver information manager
Documentation=man:resolvconf(8)
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Before=network-pre.target
Wants=network-pre.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/resolvconf --enable-updates
ExecStop=/usr/sbin/resolvconf --disable-updates

[Install]
WantedBy=sysinit.target
